body{
    padding: 0;
    margin: 0;
    font-family: Segoe UI;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    overflow: hidden;
    background: white;
}

.circle{
    border-radius: 300px;
    width: 300px;
    height: 300px;
    /*border: 10px solid rgba(0, 100, 200, 0.6);*/
    border: 10px solid rgb(100, 100, 100);
    transition: all 0.6s;
    position: absolute;
    top: 200px;
    left: 25%;
}

.xis{
    position: absolute;
    top: 350px;
    left: 25%;
}

.x1{
    border: 5px solid rgb(100, 100, 100);
    border-radius: 10px;
    width: 300px;
    height: 0px;
    transform: rotate(45deg);
    transition: all 0.6s;
}

.x2{
    border: 5px solid rgb(100, 100, 100);
    border-radius: 10px;
    transition: all 0.6s;
    width: 300px;
    height: 0px;
    transform: rotate(-45deg);
}

.content_circle{
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgb(240, 240, 240);
    transition: all 0.6s;
    cursor: pointer;
    z-index: -1;
}

.content_xis{
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background: white;
    transition: all 0.6s;
    cursor: pointer;
    z-index: -1;
}



.content_circle:hover {
    background: rgba(0, 100, 200, 0.6);
}

.content_circle:hover .circle {
    border: 10px solid white;
}

.content_xis:hover{
    background:rgba(100, 200, 100, 0.6);
}

.content_xis:hover .x1,.content_xis:hover .x2{
    border: 5px solid white;
}

.option.disabled{
    border: 1px solid rgb(220, 220, 220)!important;
}

.x1, .x2{
    border: 5px solid #1565C0;
    border-radius: 10px;
    width: 300px;
    height: 0px;
    transition: all 0.6s;
    position: absolute;
    left: -15%;
    top: 47%;
}

.circle{
    /*border: 10px solid rgba(0, 100, 200, 0.6);*/
    border: 10px solid #0D47A1;
    transition: all 0.6s;
    position: absolute;
    top: -22.5%;
    left: -18.5%;
    transform: scale(0);
}


.x1{
    transform: scale(0) rotate(45deg);
}

.x2{
    transform: scale(0) rotate(-45deg);
}

.status{
    position: absolute;
    left: 71%;
    top: 83%;
    width: 29%;
    text-align: justify;
    color: black;
}

.turn{
    padding: 15px 0;
    font-size: 32px;
    background: #1A237E;
    color: white;
    padding: 5px;
    font-size: 16px;
}

.player{
    padding: 0;
    font-size: 12px;
    background: #303F9F;
    color: white;
    padding: 5px;
}

.con{
    padding: 15px 0px;
    font-size: 12px;
    background: #7986CB;
    color: white;
    padding: 5px;
}
#log{opacity: 0;}

.option{
    border: none;
    background: #3F51B5;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transition: all 0.6s;
}

.option:hover{
}

.content{
    transform: scale(1);
    position: absolute;
    left: 0;
    top: 0;
}

.next{
    position: absolute;
    left: 85%;
    top: 78%;
    margin-top: 9px;
    background: #3949AB;
    color: white;
    padding: 5px 15px;
    padding: 4px 15px;
    border-radius: 30px;
    font-size: 18px;
    transition: all 0.6s;
    opacity: 0;
    cursor: pointer;
}

.placar{
    position: absolute;
    left: 72%;
    top: 53%;
    width: 29%;
    text-align: justify;
    color: black;
    z-index: 10;
}

.p1{
    border: 0px solid black;
    font-size: 100px;
    color: black;
    top: 0;
    display: inline;
    border-radius: 3px;
    padding: 15px;
    left: 0;
}

.vs{
    border: none;
    font-size: 28px;
    color: black;
    background: #1A237E;
    display: inline-block;
    color: white;
    margin-top: -10px;
    padding: 5px;
    border-radius: 3px;
    margin-top: 24%;
    left: 28%;
}

.p2{
    border: 0px solid black;
    font-size: 100px;
    color: black;
    border-radius: 3px;
    left: 42%;
    top: 0;
    display: inline;
    padding: 15px;
}

.chat{
    padding: 5px 5px 35px 5px;
    position: absolute;
    left: 69.5%;
    top: 0;
    z-index: 100;
    background: #5C6BC0;
    width: 28.8%;
    text-align: justify;
    color: white;
    border: none;
    height: 50%;
    overflow: auto;
}

.ct{
    padding: 9px;
    font-size: 12px;
    margin: -5px -5px 0px -5px;
    background: #283593;
}

#chatInp{
    padding: 7px 9px;
    margin: 0;
    font-family: Segoe UI;
    z-index: 101;
    font-size: 18p;
    border: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #1A237E;
    display: block;
    position: absolute;
    background: #283593;
    left: 70%;
    top: 49%;
    border-radius: 30px;
    width: 27%;
    left: 1%;
}

.option:nth-child(odd) {
    background: #7986CB;
}

input#chatInp::placeholder {
    color: white;
}

div#next {
    top: 73%;
    padding: 5px;
    left: 71%;
    width: 30%;
    background: #1A237E;
    color: white;
    border-radius: 0;
    font-size: 21px;
}

body{
    padding: 0;
    margin: 0;
    font-family: Segoe UI;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    overflow: hidden;
    background: white;
}

.circle{
    border-radius: 300px;
    width: 300px;
    height: 300px;
    /*border: 10px solid rgba(0, 100, 200, 0.6);*/
    border: 10px solid rgb(100, 100, 100);
    transition: all 0.6s;
    position: absolute;
    top: 200px;
    left: 25%;
}

.xis{
    position: absolute;
    top: 350px;
    left: 25%;
}

.x1{
    border: 5px solid rgb(100, 100, 100);
    border-radius: 10px;
    width: 300px;
    height: 0px;
    transform: rotate(45deg);
    transition: all 0.6s;
}

.x2{
    border: 5px solid rgb(100, 100, 100);
    border-radius: 10px;
    transition: all 0.6s;
    width: 300px;
    height: 0px;
    transform: rotate(-45deg);
}

.content_circle{
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgb(240, 240, 240);
    transition: all 0.6s;
    cursor: pointer;
    z-index: -1;
}

.content_xis{
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background: white;
    transition: all 0.6s;
    cursor: pointer;
    z-index: -1;
}



.content_circle:hover {
    background: rgba(0, 100, 200, 0.6);
}

.content_circle:hover .circle {
    border: 10px solid white;
}

.content_xis:hover{
    background:rgba(100, 200, 100, 0.6);
}

.content_xis:hover .x1,.content_xis:hover .x2{
    border: 5px solid white;
}

.option.disabled{
    border: 1px solid white!important;
}

.x1, .x2{
    border: 5px solid #1565C0;
    border-radius: 10px;
    width: 300px;
    height: 0px;
    transition: all 0.6s;
    position: absolute;
    left: -15%;
    top: 47%;
}

.circle{
    /*border: 10px solid rgba(0, 100, 200, 0.6);*/
    border: 10px solid #0D47A1;
    transition: all 0.6s;
    position: absolute;
    top: -22.5%;
    left: -18.5%;
    transform: scale(0);
}


.x1{
    transform: scale(0) rotate(45deg);
}

.x2{
    transform: scale(0) rotate(-45deg);
}

.status{
    position: absolute;
    left: 80%;
    top: 81%;
    width: 29%;
    text-align: justify;
    color: black;
}

.turn{
    padding: 15px 0;
    font-size: 32px;
    background: #1A237E;
    color: white;
    padding: 5px;
    font-size: 16px;
}

.player{
    padding: 0;
    font-size: 12px;
    background: #303F9F;
    color: white;
    padding: 5px;
}

.con{
    padding: 15px 0px;
    font-size: 12px;
    background: #7986CB;
    color: white;
    padding: 5px;
}
#log{opacity: 0;}

.option{
    border: none!important;
    background: #B0BEC5;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transition: all 0.6s;
}

.option:hover{
}

.content{
    transform: scale(0.9);
    position: absolute;
    left: 15%;
    top: 0;
}

.next{
    position: absolute;
    left: 88%;
    top: 79%;
    margin-top: 9px;
    background: #3949AB;
    color: white;
    padding: 5px 15px;
    padding: 4px 15px;
    border-radius: 30px;
    font-size: 18px;
    transition: all 0.6s;
    opacity: 0;
    cursor: pointer;
}

.placar{
    position: absolute;
    left: 0%;
    top: 0;
    width: 20%;
    text-align: justify;
    color: black;
}

.p1{
    border: 0px solid black;
    font-size: 100px;
    color: black;
    top: 0;
    border-radius: 3px;
    padding: 15px;
    left: 0;
}

.vs{
    border: none;
    font-size: 28px;
    color: black;
    background: #1A237E;
    color: white;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    left: 0;
    top: -22px;
}

.p2{
    border: 0px solid black;
    font-size: 100px;
    color: black;
    border-radius: 3px;
    left: 42%;
    top: 0;
    padding: 15px;
}

.chat{
    padding: 5px 5px 35px 15px;
    position: absolute;
    left: 99%;
    top: 0;
    background: #5C6BC0;
    width: 28.8%;
    text-align: justify;
    transition: all 1s;
    color: white;
    border: none;
    height: 100%;
    overflow: auto;
}

.ct{
    padding: 9px 15px;
    font-size: 12px;
    margin: -5px -5px 0px -15px;
    background: #283593;
}

#chatInp{
    padding: 7px 9px;
    margin: 0;
    font-family: Segoe UI;
    font-size: 18p;
    border: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #1A237E;
    display: block;
    position: absolute;
    background: #283593;
    top: 88%;
    border-radius: 30px;
    width: 88%;
    color: white;
    left: 2%;
}

.option:nth-child(odd) {
    background: white;
}

input#chatInp::placeholder {
    color: white;
}

div#next {
    top: 73%;
    padding: 5px;
    left: 34%;
    width: 30%;
    background: #1A237E;
    color: white;
    border-radius: 0;
    font-size: 21px;
}

.chat:hover{
    transition: all 1s;
    left: 70.2%;
}

div#ch {
    font-size: 12px;
    line-height: 25px;
    text-transform: none;
}